:root{
    --medium-gap: 1rem;
    --large-gap: calc(var(--medium-gap)*2);
    --small-gap: calc(var(--medium-gap)/2);
    --theme-white: rgb(230, 230, 230);
    --theme-grey: rgb(125, 125, 125);
    --secondary-grey: rgb(93, 93, 93);
    --tertiary-grey: rgb(62, 62, 62);
    --theme-blue: #00a4eb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

button,
input[type="file"]{
    cursor: pointer;
}

button:hover,
input[type="file"]:hover{
    color: var(--theme-blue);
    fill: var(--theme-blue);
}

.input-file{
    position: relative;
}

.input-file *{
    width: 100%;
}

.input-file input{
    position: absolute;
    opacity: 0;
    left: 0;
}

html{
    overflow: hidden;
}

body{
    position: relative;
    height: 100lvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
}

#menu{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: var(--small-gap);
}

#menu> ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small-gap);
}

#menu> ul li button{
    border: none;
    background-color: transparent;
}

.dropdown{
    position: relative;
}

.dropdown button{
    border: none;
    background-color: transparent;
}

.dropdown ul{
    display: none;
    flex-direction: column;
    padding: calc(var(--small-gap) / 2);
    background-color: var(--theme-white);
    position: absolute;
    z-index: 1;
    translate: 0% var(--small-gap);
    width: max-content;
}

.dropdown ul li{
    width: 100%;
}

.dropdown ul li:hover span{
    color: var(--theme-blue);
}

.dropdown ul li button,
.dropdown ul li input{
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: start;
}

.dropdown ul li input[type="file"]::-webkit-file-upload-button{
    display: none;
}

#video-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

video{
    width: 100%;
}

#controls{
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    padding: var(--small-gap);
    padding-bottom: calc(var(--medium-gap) * 0.9);
    background-color: var(--theme-white);
}

#controls> div{
    width: 100%;
    min-height: 20%;
}

#info-wrapper{
    /* position: absolute;
    translate: calc(var(--small-gap) * -1) -100%;
    top: 0; */
    width: 100%;
    background-color: transparent;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.4), rgba(100, 100, 100, 0.4));
    padding: calc(var(--small-gap) / 4) var(--small-gap);
    backdrop-filter: blur(20px); */
}

#info-wrapper> *{
    width: fit-content;
    background-color: transparent;
    border: none;
}

#controls> div:nth-child(2) div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--theme-white);
}

#controls> div:nth-child(2) input{
    width: 100%;
}

#controls> div:nth-child(3){
    width: calc(100%);
    display: grid;
    grid-template-columns: 25% auto 25%;
    justify-content: space-between;
    align-content: center;
    background-color: var(--theme-grey);
    background-image: linear-gradient(to bottom, var(--theme-grey), var(--tertiary-grey));
    padding: calc(var(--small-gap) / 1) 0;
}

#controls div:nth-child(3) ul{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 16.25% 16.25% 40% 16.25% 16.25%;
    gap: calc(var(--small-gap) / 2);
}

#controls div:nth-child(3) ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls div:nth-child(3) ul li:nth-child(1){
    overflow: hidden;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#controls div:nth-child(3) ul li:nth-child(3){
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1;
}

#controls div:nth-child(3) ul li:nth-child(3) button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
}

#controls div:nth-child(3) ul li:nth-child(4){
    overflow: hidden;
}

#controls div:nth-child(3) ul li:last-of-type{
    overflow: hidden;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#controls div:nth-child(3) ul li button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--theme-white), var(--theme-grey));
    border: none;
}

#controls div:nth-child(3) div:nth-child(3){
    padding: 0% var(--small-gap);
    display: flex;
    align-items: center;
}

#volume-wrapper{
    position: relative;
    width: 100%;
    height: 50%;
    clip-path: polygon(0 100%, 100% 100%, 100% 0%, 0% 90%);
    background-color: var(--secondary-grey);
}

#volume-slider{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--theme-blue);
    pointer-events: none;
    right: 10%;
}

@media (orientation: landscape) {
    video{
        width: auto;
        height: 100%;
    }
    #controls{
        position: relative;
        min-height: 10%;
        background-color: transparent;
    }
    #controls div:nth-child(3) ul{
        grid-template-columns: auto auto 35% auto auto;
    }
}